

.navbar-brand img{
    width: 300px;
    padding: 0px 50px;
}

.nav-item{
    margin-left: 50px;
    font-size: 20px;
}


body{
    height: 500vh;
}

.banner{
    height: 80vh;
    background: linear-gradient(100deg,rgba(0, 0, 0,0.5),rgba(0, 0, 0,0.5)),center / cover no-repeat url("/Images/banner.jpg");
    background-attachment: fixed;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);  
}

hr{
    opacity: 1;
    border: 2px solid;
    border-color: rgb(203, 144, 80);
    width: 100px;
}

/*--stay in touch--*/

.small{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}